body {
  font-family: Arial, sans-serif;
  padding-right: 10vw;
  padding-left: 10vw;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #303641; 
  color: #f0f0f0bd; 
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  background-color: #3b414d; 
  padding: 1rem;
  color: #f0f0f0bd; 
  text-align: center;
}

.main-content {
  background-color: #3b414d; 
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 20px; /* Adjust padding for mobile */
  color: #f0f0f0bd; 
}

main {
  background-color: #3b414d; 
  padding: 1rem;
  margin-left: 270px; /* Adjust to avoid overlap with left sidebar */
  margin-right: 270px; /* Adjust to avoid overlap with right sidebar */
  flex: 1;
  color: #f0f0f0bd; 
}

footer {
  background-color: #3b414d; 
  padding: 1rem;
  color: #f0f0f0bd; 
  text-align: center;
}

div {
  margin-bottom: 1rem;
}

h2 {
  margin: 0.5rem 0;
}

a {
  color: #61dafb;
  text-decoration: none;
}

section {
  margin-bottom: 20px;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px; /* Reduce gap between items */
}

.project-item {
  display: flex;
  align-items: center;
  border: 1px solid #ccc; /* Add border to project items */
  padding: 10px;
  border-radius: 8px; /* Add rounded corners */
}

.project-text {
  margin-left: 10px; /* Space between image and text */
  flex: 1;
}

.project-image {
  max-width: 150px; /* Fixed width */
  height: auto; /* Adjust height to maintain aspect ratio */
  display: block;
  object-fit: contain; /* Ensure the image fits within the max-width without stretching */
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Example for responsive image in project item */
.project-item img {
  width: 100%; /* Make image responsive */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Ensures the image covers the given dimension without stretching */
}
/* Media Query for Mobile Devices */
@media (max-width: 768px) {
  .main-content {
    padding: 10px; /* Adjust padding for mobile */
  }

  main {
    margin-left: 0;
    margin-right: 0;
    padding: 10px; /* Add padding to prevent text cut-off */
  }

  .sidebar, .smart-scroll-sidebar {
    width: 100%;
    position: relative;
    padding: 10px; /* Add padding for mobile */
    text-align: center;
    height: auto; /* Adjust height for mobile */
  }

  .sidebar {
    order: -2; /* Move the sidebar to the top */
  }

  .smart-scroll-sidebar {
    order: -1; /* Move the smart scroll sidebar to the top, after sidebar */
  }

  .project-grid {
    grid-template-columns: 1fr; /* Stack projects vertically on mobile */
  }

  .project-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .project-text {
    margin-left: 0; /* Reset margin for mobile */
    margin-top: 10px;
  }
}
